<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>RegistrAPP</h1>
  <br>
  <br>
  <label>Usuario</label>
  <ion-input type="text" placeholder="Ingrese nombre"></ion-input>
  <ion-label>Clave</ion-label>
  <ion-input type="password" placeholder="******"></ion-input>
  <br>
  <a> Restablecer contraseña</a>
  <br>
  <a> Restablecer contraseña</a>
  <br>
  <br><br>
  <ion-button expand="block">Aceptar</ion-button>

</ion-content>